*{
    padding: 5px;
    box-sizing: border-box;
    background-color: seashell;
}
nav{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}
a[href^="#"]{
    color:black;
    text-decoration: none;
    font-size: large;
}
a[href^="#"]:hover{
    background-color: burlywood;
}
h1{
    text-align: left;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
#mainHeading{
    color:red;
}
body{
    margin: 8px;
    display: block;
    background-image: linear-gradient(to bottom right, seashell, brown);
    line-height: 25px;
    border-radius: 10px;
}
h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.travel,.float-container,.pets{
    margin: 10px 0px;
    border-color:rgb(230, 192, 144);
    margin-left: 10%;
    margin-right: 10%;
    border-style: groove;
    border-width: 10px;
    border-radius: 10px;
}
.funParagraph{
    color: green;
}
#quote{
    font-family: 'Handlee', cursive;
    background-color: rgb(221, 203, 203);
    border-radius: 10px;
    width: 80%;
    height:30%;
    margin-left:100px;
}
.travel{
    width: 80%;
    height: 50%;
}
.pet-pics,.travel-pics{
    display: flex;
}
#nz-pic,#canada,#sydney{
    flex:1;
    height:250px;
    width: 100%;
}
#aussi-dog,#main-coon,#golden-dog,#grey-cat{
    flex:1;
    height:190px;
    width:100%
}
#nz-pic:hover,#canada:hover,#sydney:hover,#aussi-dog:hover,#main-coon:hover,#golden-dog:hover,#grey-cat:hover{
    height:500px;
    width:800px;
}
ul{
    margin-left: 5px;
}
.float-container{
    display: flex;
    width: 80%;
    height:80%;
}
.lifestyle,.pro-plans,.movies,.books{
    flex:1;
    margin:0px 30px;
}
.dollar{
    text-align: center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
      }
    50%{
        transform: scale(0.6);
      }
}
footer{
    text-align: center;
    font-size: large;
}
.top{
    margin-left:150px;
}
